<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vadicindia">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".business.activity.UploadFormActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".business.activity.WebActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vadicindia.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.vadicindia.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".business.activity.BusinessDashboardActivity"
            android:exported="true"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.RegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NewJoinTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.BusinessOppurtunityActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".business.activity.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".business.activity.BankListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".business.activity.Kyc_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".business.activity.AddressProofActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.BankProofActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.ForgotpassActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".business.activity.ComplaintActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.DownlinePurchaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".business.activity.ShoppingWalletReportActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.MainWalletReportActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.Business_WalletRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.CommonReportActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.IDActivationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.LevelWiseDirectDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.WalletRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.WalletTransferActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.WalletTransferActivity_1"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.activity.BankWithdrawalActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>